<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
        <span class="menu-title">Overview</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-admin" aria-expanded="false" aria-controls="ui-basic">
        <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
        <span class="menu-title">Admin</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Home</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Users</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Roles</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Permisions</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Analytics</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Reports</a></li>
        </ul>
      </div>
    </li>

    <!--Executive-->
    <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <span class="icon-bg"><i class="mdi mdi-briefcase-account menu-icon"></i></span>
        <span class="menu-title">Executive</span>
      </a>
    </li>
    <!-- Manager -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-manager" aria-expanded="false" aria-controls="ui-basic">
        <span class="icon-bg">
          <i class="mdi mdi-account-tie menu-icon"></i></span>
        <span class="menu-title">Manager</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-manager">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Home</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Staff</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Loans</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Clients</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Groups</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Leave</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Portfolio</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Analytics</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Reports</a></li>
        </ul>
      </div>
    </li>
    <!--Procurement-->
    <li class="nav-item">
      <a class="nav-link" href="pages/forms/basic_elements.html">
        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
        <span class="menu-title">Inventory</span>
      </a>
    </li>
    <!-- Branches -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-branch" aria-expanded="false" aria-controls="auth">
        <span class="icon-bg">
          <i class="mdi mdi-source-branch menu-icon"></i></span>
        <span class="menu-title">Branch</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-branch">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Home </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Staff </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Portfolio </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Groups </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Loans </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Repayments </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> Analytics </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> Reports </a></li>
        </ul>
      </div>
    </li>
    <!-- Business -->
    <li class="nav-item">
      <a class="nav-link" href="pages/forms/basic_elements.html">
        <span class="icon-bg">
          <i class="mdi mdi-domain menu-icon"></i></span>
        <span class="menu-title">Business</span>
      </a>
    </li>
    <!-- Portfolio -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="icon-bg">
          <i class="mdi mdi-chart-pie menu-icon"></i></span>
        <span class="menu-title">Portfolio</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Home </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Groups </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Loans </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> Analytics </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> Reports </a></li>
        </ul>
      </div>
    </li>
    <!-- Products -->
    <li class="nav-item">
      <a class="nav-link" href="pages/forms/basic_elements.html">
        <span class="icon-bg">
          <i class="mdi mdi-package-variant-closed menu-icon"></i></span>
        <span class="menu-title">Products</span>
      </a>
    </li>
    <!-- Loans -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-loan" aria-expanded="false" aria-controls="auth">
        <span class="icon-bg">
          <i class="mdi mdi-cash-multiple menu-icon"></i></span>
        <span class="menu-title">Loans</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-loan">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Home </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Applications </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Repayments </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> Analytics </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> Reports </a></li>
        </ul>
      </div>
    </li>
    <!-- Clients -->
    <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <span class="icon-bg">
          <i class="mdi mdi-account-group menu-icon"></i></span>
        <span class="menu-title">Clients</span>
      </a>
    </li>

    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
          <span class="menu-title">Settings</span>
        </a>
      </div>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="#" class="nav-link"><i class="mdi mdi-speedometer menu-icon"></i>
          <span class="menu-title">Take Tour</span></a>
      </div>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="#" class="nav-link" data-toggle="modal" data-target="#logoutModal">
          <i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Log Out</span></a>
      </div>
    </li>
  </ul>
</nav>